<?xml version="1.0" encoding="UTF-8"?>
    <plugin id="it.weconstudio.phonegap.plugins" version="0.1" provider-name="weconstudio">
        <name>IpAddress</name>
        <description>IP Address detection plugin</description>
        <license>Apache 2.0</license>
		<author>weconstudio</author>
        <keywords>weconstudio,ip,address,phonegap,plugins</keywords>

	<js-module src="www/IpAddress.js" name="IpAddress">
    	<clobbers target="window.IpAddress" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
		    <feature name="IpAddress" >
		        <param name="android-package" value="it.weconstudio.phonegap.plugins.IpAddress"/>
		    </feature>
		</config-file>

		<!-- config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    	</config-file -->

		<source-file src="src/it.weconstudio.phonegap.plugins.android/IpAddress.java" target-dir="src/it/weconstudio/phonegap/plugin/ipaddress" />
    	</platform>

    </plugin>

